.url-forms {
  &-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;

    &-header {
      h1 {
        margin: 0;
        color: var(--mat-sys-primary);
      }

      p {
        margin-block-start: 0;
        letter-spacing: 0.3rem;
      }
    }
  }

  &-group {
    &-container {
      width: 100%;
      .mat-mdc-form-field {
        width: 35%;
      }
    }

    &-actions-mini {
      width: 35%;
      font-size: 1rem;
    }
  }
}
